@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/overpass-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Overpass Regular'), local('Overpass-Regular'),
       url('../fonts/overpass-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/overpass-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/overpass-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/overpass-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/overpass-v4-latin-regular.svg#Overpass') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/overpass-v4-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Overpass Bold'), local('Overpass-Bold'),
       url('../fonts/overpass-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/overpass-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/overpass-v4-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/overpass-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/overpass-v4-latin-700.svg#Overpass') format('svg'); /* Legacy iOS */
}

body {
  color: $black;
  font-family: 'Overpass', sans-serif;
  font-size: $font-s;
  font-weight: 400;
  line-height: $line-height;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-mm;
  }
}

.nav-container {
  margin: $little $little $big;

  @media screen and (min-width: $bp-phablet) {
    margin-bottom: $huge;
  }

  @media screen and (min-width: $bp-tablet) {
    margin: $twice $twice $huge;
  }
}

.content-container {
  padding: 0 $little;
  max-width: $container-width;

  @media screen and (min-width: $bp-tablet) {
    padding: 0 $twice;
    margin: 0 auto;
  }
}

.column-container {
  @media screen and (min-width: $bp-tablet) {
    margin: 0 auto;
    max-width: $column-width;
  }
}

@media screen and (min-width: $bp-phablet) {
  .secondary-links {
    float: right;
  }
}

.nav-link {
  font-size: $font-s;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: $thin;

  @media screen and (min-width: $bp-phablet) {
    display: inline-block;
    margin-right: $little;

    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-mm;
    line-height: $font-ll;
    margin-right: $small;
  }

  &--main {
    font-size: $font-m;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: $little;

    @media screen and (min-width: $bp-phablet) {
      margin-bottom: 0;
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: $font-ll;
    }
  }

  &__active {
    a {
      position: relative;
    }

    a:after {
      @include underline($blue);
    }
  }
}

.impressum { 
  color: $grey;
  float: right;
  font-size: $font-xs;
  margin-bottom: $thin;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-s;
  }

  &__link {
    color: $grey;
    position: relative;

    &:after {
      @include underline(currentColor);
    }
  }
}