.header {
  margin-bottom: $hefty;

  @media screen and (min-width: $bp-phablet) {
    margin-bottom: $wide;
  }

  @media screen and (min-width: $bp-tablet) {
    text-align: center;
  }

  &__main {
    font-size: $font-l;
    line-height: $line-height-heading;
    margin-bottom: $thin;

    @media screen and (min-width: $bp-tablet) {
      font-size: $font-xl;
      margin-bottom: $thin;
    }
  }

  &__sub {
    font-size: $font-s;

    @media screen and (min-width: $bp-tablet) {
      font-size: $font-mm;
    }
  }
}

.image {
  max-width: 100%;
  margin-bottom: $small;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: $twice;
  }
}

.paragraph {
  margin-bottom: $little;
}

.main {
  margin-bottom: $big;
}

.contact {
  margin-bottom: $twice;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: $big;
  }

  &__header {
    font-size: $font-ll;

    @media screen and (min-width: $bp-tablet) {
      font-size: $font-l;
    }
  }

  &__line {
    display: block;
  }
}

#google-map {
  display: none;

  @media screen and (min-width: $bp-tablet) {
    display: block;
    width: 100%;
    height: 350px;
    background-color: $light-grey;
    margin-bottom: $small;
  }
}
