// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: $black;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  opacity: 0.7;
}

p {
  margin: 0;
}

h1, h2 {
  margin: 0;
}